# Visual Studio 项目文件
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.suo
*.user
*.sln.docstates
*.opensdf
*.sdf
*.VC.db
*.VC.opendb

# Visual Studio 缓存 / 配置
.vs/
.ipch/

# 编译输出
build/
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/

# 中间文件
*.exe
*.dll
*.lib
*.obj
*.pdb
*.ilk
*.cache
*.log
*.tmp
*.tlog
*.aps
*.ncb

# 自动恢复文件
~AutoRecover.*

# 其他 IDE
.vscode/
.idea/

# 系统文件
.DS_Store
Thumbs.db